
<div class="hint-friend-box bg-white">
    <h4 class="title-box">Gợi ý kết bạn</h4>
    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <a href="">
                        <img class="user-avt" src="~/Assets/client/img/user/tonngokhong.jpg" alt=""
                             style=" width:40px; height:40px">
                        <span class="fullname" style="display: inline;">Tôn Ngộ Không</span>
                    </a>
                </td>
                <td class="btn-add-friend">
                    <a href=""><i class="fal fa-user-plus fa-lg"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">
                        <img class="user-avt" src="~/Assets/client/img/user/trubatgioi.jpg" alt=""
                             style=" width:40px; height:40px">
                        <span class="fullname" style="display: inline;">Trư Bát Giới</span>
                    </a>
                </td>
                <td class="btn-add-friend">
                    <a href=""><i class="fal fa-user-plus fa-lg"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">
                        <img class="user-avt" src="~/Assets/client/img/user/satang.jpg" alt=""
                             style=" width:40px; height:40px">
                        <span class="fullname" style="display: inline;">Să Tăng</span>
                    </a>
                </td>
                <td class="btn-add-friend">
                    <a href=""><i class="fal fa-user-plus fa-lg"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>