body {
    background-color: #E9EBEE;
}

/* login */
.main {
    margin-top: 15px;
}

    .main .d-flex {
        display: flex;
        justify-content: center;
    }

.box-left,
.box-right {
    margin: 0px 25px;
}

.box-right {
    padding: 10px 20px;
    border-radius: 5px;
    width: 365px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}

    .box-right a {
        text-decoration: none;
    }

.bg-white {
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .home-phone {
        display: none;
    }
}

/* index */

#header {
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}

    #header .search-box,
    .my-box {
        padding-top: 10px;
    }

        .my-box .f-right {
            display: flex;
            justify-content: center;
            align-items: baseline;
            float: right;
        }

.user-avt {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.my-box .f-right .mr-l-30 {
    position: relative;
    margin-left: 30px;
    text-decoration: none;
}

.my-box .f-right i {
    color: black;
}

.f-right .mr-l-30 span {
    position: absolute;
    top: -7px;
}

.header-box {
    padding-left: 20px;
}

.notification-box .d-flex {
    display: flex;
    flex-direction: row;
}

.notification-content {
    padding: 5px 10px;
    margin-right: 20px;
    width: 247px;
}

.notifiedby-img img {
    object-fit: cover;
}

.col-left,
.col-center,
.col-right {
    margin-top: 70px;
}

.challenge-box,
.category-box,
.post,
.hint-friend-box,
.list-friend-box,
.rankings-box {
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}

.challenge-box,
.list-friend-box {
    padding: 10px 10px 0px 10px;
}

.col-left {
    padding: 0px;
    position: fixed;
    width: 285px;
}

.col-center {
    position: relative;
    left: 292px;
}

.col-right {
    padding: 0px;
    position: fixed;
    right: 175px;
    width: 285px;
}

.challenge-box a {
    text-decoration: none;
}

    .challenge-box a span.label {
        float: right;
        width: 87px;
    }

.post-box {
    margin-top: 15px;
}

.add-post-box {
    height: auto;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}

    .add-post-box div.title-box {
        background-color: #f5f6f7;
        border-radius: 5px 5px 0px 0px;
        border-bottom: 1px solid #dddfe2;
        padding: 5px 5px 5px 10px;
        font-size: 16px;
    }

    .add-post-box .mr-t-20 {
        margin-top: 20px;
    }

    .add-post-box textarea.post-caption {
        resize: none;
    }

.upload-image label {
    background-color: #f5f6f7;
    margin: 15px 15px 10px 15px;
    padding: 8px 10px;
    border-radius: 18px;
}

.upload-image #icon-input {
    display: none;
}

.upload-image i,
label {
    cursor: pointer;
}

.btn-up {
    width: 95%;
    display: block;
    margin: 10px auto;
}

.region-img-preview {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0px 0px 0px 15px;
}

    .region-img-preview #img-preview {
        opacity: 1;
        display: block;
        height: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
        object-fit: cover;
    }

    .region-img-preview .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .region-img-preview:hover #img-preview {
        opacity: 0.3;
    }

    .region-img-preview:hover .middle {
        opacity: 1;
    }


.post-box .post {
    padding: 20px 20px;
    margin-bottom: 15px;
}

.post-box .post-option a {
    color: black;
}

.post-box .post .auth {
    position: relative;
}

.post .auth img {
    margin-top: 10px;
}

.post-box .post .auth .created-date {
    position: absolute;
    top: 40px;
    left: 55px;
}

.post-box .post .auth a {
    text-decoration: none;
}

.post .content {
    margin-top: 20px;
}

    .post .content img {
        cursor: pointer;
    }

.post .count-liked-commented {
    padding-top: 5px;
}

.post-action {
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
    margin-top: 10px;
}

    .post-action a {
        color: #606770;
    }

.post .my-comment {
    display: flex;
    align-items: baseline;
    padding: 5px 0px;
}

.my-comment input[type=text] {
    max-width: 435px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.comment-box .other-comment {
    position: relative;
}

    .comment-box .other-comment .detail-comment {
        display: flex;
        flex-direction: row;
    }

.name {
    margin: 5px;
}

.comment-content span {
    padding: 0px 5px;
    display: block;
}

.comment-content {
    background-color: #E9EBEE;
    border-radius: 15px;
    padding: 5px 10px;
    position: relative;
    box-sizing: border-box;
}

.action-comment {
    cursor: pointer;
    position: relative;
    left: 75px;
    bottom: 10px;
}

.comment-box .other-comment a {
    text-decoration: none;
}

.comment-box .other-comment .commentedby {
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
}

.comment-box .other-comment .comment-content {
    margin: 0px 10px 12px 10px;
}

.other-comment .comment-option {
    position: absolute;
    right: 0px;
    top: 15px;
    cursor: pointer;
}

.hint-friend-box .table a {
    text-decoration: none;
    font-size: 15px;
}

.hint-friend-box .table .btn-add-friend {
    padding-top: 15px;
    width: 40px;
}

.hint-friend-box,
.category-box {
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}

.category-box {
    padding-bottom: 10px;
}

    .category-box .category a {
        margin: 2px 0px;
    }

.list-friend-box {
    padding-bottom: 10px;
}

    .list-friend-box .overflow-auto {
        height: 315px;
        overflow: auto;
    }

    .list-friend-box ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .list-friend-box ul li {
            display: block;
            padding-bottom: 15px;
        }

            .list-friend-box ul li a {
                text-decoration: none;
                font-size: 15px;
            }

                .list-friend-box ul li a img {
                    margin-right: 5px;
                }

                .list-friend-box ul li a span.label {
                    float: right;
                    margin: 10px 0px;
                    width: 70px;
                }

@media only screen and (max-width: 600px) {

    .logo-box {
        display: none;
    }

    .search-box {
        margin-right: 120px;
    }

    .col-right,
    .col-left {
        display: none;
    }

    .col-center {
        left: 0;
    }
}

/* profile */

#profile .user {
    height: 210px;
    margin-top: 70px;
}

#profile .avt-box {
    position: relative;
    display: block;
    padding: 0px 90px;
}

.avt-box .center {
    height: 210px;
    padding: 10px;
    border-radius: 50%;
}

    .avt-box .center img {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        object-fit: cover;
    }

.avt-box i {
    position: absolute;
    right: 35%;
    bottom: 15%;
    color: black;
}

.upload-avatar > input {
    display: none;
}

.upload-image i {
    cursor: pointer;
}

.detail-info {
    position: relative;
}

.user-info .user-name {
    position: relative;
    font-size: 30px;
}

    .user-info .user-name i {
        color: blue;
        margin-left: 15px;
    }


.user-info .status-friend {
    padding-top: 15px;
    margin-bottom: 20px;
}

.detail-info .other-info {
    margin-top: 20px;
}

    .detail-info .other-info ul {
        list-style: none;
        padding-left: 0;
    }

        .detail-info .other-info ul li {
            display: inline;
            margin-right: 20px;
        }

        .detail-info .other-info ul a {
            font-size: 20px;
            text-decoration: none;
            color: #262626;
        }

.update-profile {
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
}

.photo-gallery {
    margin-top: 30px;
    margin-bottom: 20px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    font-size: 20px;
    cursor: default;
    background-color: #E9EBEE;
    border-bottom-color: #E9EBEE;
}

.tab-content .d-flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.photo-box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0px 10px;
}

    .photo-box a {
        color: black;
        font-size: 15px;
    }

    .photo-box .photo-user {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo-box .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

        .photo-box .middle span {
            margin: 0px 5px;
        }

    .photo-box:hover .photo-user {
        opacity: 0.3;
    }

    .photo-box:hover .middle {
        opacity: 1;
    }

@media only screen and (max-width: 600px) {

    #grid-photo-user .d-flex {
        flex-direction: column;
    }
}

.fixed-bar {
    display: none;
    position: fixed;
    left: 1%;
    bottom: 5%;
}

    .fixed-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        background-color: white;
        font-size: 16px;
        margin: 10px 0px;
        border-radius: 50%;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,.15);
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px) {

    .fixed-bar {
        display: block;
    }
}

.forgot-password-container {
    margin-top: 150px;
    
}

.form-center {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    padding: 30px;
}

.btn-center {
    text-align: center;
    margin-top: 5px;
}

    .btn-center .btn-send-code {
        width: 100%;
        font-size: 20px;
    }

.detail-post .my-comment {
    display: flex;
    padding: 5px 0px;
}

.detail-post .auth {
    position: relative;
    margin-bottom: 20px;
}

    .detail-post .auth .created-date {
        position: absolute;
        top: 30px;
        left: 55px;
    }

#btnScroll {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00B5E3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
