<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/admin/vendor/fontawesome/css/all.min.css">
    <link href="~/Assets/admin/vendor/SweetAlert/css/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/admin/css/style.css">
    <link rel="icon" href="~/Assets/client/img/page/icon-camera.jpg" type="image/gif">
</head>

<body>
    <app>
        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="">Administrator</a>
                <button class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div id="collapse" class="collapse">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <a href="/Admin/Home/Index" class="nav-link active">
                            <i class="fas fa-tachometer-alt-slow"></i>
                            <span>Bảng điều khiển</span>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/Admin/User/Index" class="nav-link">
                            <i class="fas fa-users"></i>
                            <span>Người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/Admin/Category/Index" class="nav-link">
                            <i class="fas fa-table"></i>
                            <span>Chủ đề</span>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/Admin/Post/Index" class="nav-link">
                            <i class="fas fa-blog"></i>
                            <span>Bài viết</span>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#" class="nav-link" data-target="#challenge-menu" data-toggle="collapse">
                            <i class="fas fa-running"></i>
                            <span>Thử thách</span>
                            <i class="fas fa-caret-down ml-5 pl-4"></i>
                        </a>
                    </li>
                    <div id="challenge-menu" class="collapse">
                        <ul>
                            <li class="nav-item px-3">
                                <a href="/Admin/Challenge/Index" class="nav-link">
                                    <span>Thử thách</span>
                                </a>
                            </li>
                            <li class="nav-item px-3">
                                <a href="/Admin/Challenge/JoinChallenge" class="nav-link">
                                    <span>Tham gia thử thách</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <li class="nav-item px-3">
                        <a href="/Admin/Statistical/Index" class="nav-link">
                            <i class="fas fa-chart-line"></i>
                            <span>Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#" class="nav-link">
                            <i class="fas fa-comment-alt-edit"></i>
                            <span>Phản hồi</span>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/Admin/Setting/Index" class="nav-link">
                            <i class="fas fa-cog"></i>
                            <span>Cài đặt</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="main">
            <div class="top-row px-4">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-decoration-none" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fal fa-cog"></i> Cài đặt</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/Index"><i class="fal fa-sign-out"></i> Thoát</a>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>

    </app>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Assets/admin/vendor/SweetAlert/js/sweetalert.js"></script>
    <script src="~/Assets/admin/js/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>